<div id="checkout-wrapper">
    <ul class="checkout-list list-title">
        <li>
            <span class="checkout-list-name">Наименование</span>
            <span class="checkout-list-count">шт</span>
            <span class="checkout-list-price">цена</span>
        </li>
    </ul>
    <ul id="checkout-list" class="checkout-list"></ul>
    <div class="checkout-sum-wrapper">
        <button id="checkout-update" class="checkout-button"> Пересчитать </button>Итого на сумму: <span id="checkout-sum">0</span> грн
    </div>
    <div class="checkout-user-block">
        <div class="checkout-user-block-inputs">
            <div><span>Имя</span><input id="checkout-input-name" type="text" /></div>
            <div><span>Телефон</span><input id="checkout-input-phone" type="text" /></div>
        </div>
        <button id="checkout-button-order" class="checkout-button">Заказать</button>
    </div>
    <div class="block-info-wrapper">
        <div class="block-info" id="block-info">
            
        </div>
    </div>
</div>