{{ define "main" }}
	<main>
		<div class="index-title-block">
			<h1>{{ .Title }}</h1>
			<h2>{{ .Params.subtitle }}</h2>
		</div>
		<div class="single-content">
				{{ .Content }}
		</div>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		<div class="list-wrapper">
			{{ range where .Data.Pages "Section" "product" }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
		<!-- {{ partial "pagination.html" . }} -->
	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}