{{ define "main" }}
	<main>
		<div class="index-title-block">
			<h1>{{ .Title }}</h1>
			<h2>{{ .Params.subtitle }}</h2>
		</div>
		<div class="single-content">
				{{ .Content }}
		</div>
		{{ $blocks := getJSON "/data/index.json" }}
		<div class="single-content">
			<div class="index-flex">
			{{ range $blocks }}
				<div class="index-block">
					<div class="index-block-img">
						<img src="{{ .image }}">
					</div>
					<h3>{{ .title}}</h3>
					<div class="index-block-text">
						{{ .description }}
					</div>
				</div>
			{{ end }}
			</div>
		</div>
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		<div class="list-wrapper">
			{{ range .Paginator.Pages }}
				{{ .Render "summary" }}
			{{ end }}
		</div>
		<!-- {{ partial "pagination.html" . }} -->
	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}